// enable singularity
singularity.enabled = 'true'
singularity.autoMounts = 'true'

// path to the singularity containers
params.sif_dir = "${baseDir}/singularity"
   
// input directory
params.input_dir = ""

// filetype fastq or bam
params.filetype = 'fastq'

// glob pattern for input files
params.pattern = '*_R{1,2}.fastq.gz'

// output directory
params.output_dir = ""

// unmix myco 'yes' or 'no'
params.unmix_myco = 'yes'

// principal species in each sample, assuming genus Mycobacterium, default null
// otherwise takes 1 of 10 values: abscessus, africanum, avium, bovis, chelonae, chimaera, fortuitum, intracellulare, kansasii, tuberculosis
params.species = 'null'

// path to kraken2 database
params.kraken_db = ""

// path to bowtie2 index
params.bowtie2_index = ""
